body {
    font-family: Andale Mono, monospace;
    margin: 0;
    padding: 0;
    background-color: #31a09e;
    /*background-position: center bottom;
    background-repeat: no-repeat;*/
  }
  input:focus, input {
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
  } 
  ::selection {
      color: white;
      background: #9d4270;
    }
    .alura-logo {
      width: 40px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  .container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }  
  #neptune {
    position: fixed;
    width: 20vw;
    right: 5px;
    bottom: 3px;
  }
  
  .page-title {
    color:#e0b1c7;
    margin: 50px 0 5px;
  }
    h1 {
    font-size: 35px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 10px;
  }
  
  .page-logo {
    text-align: center;
    color: white;
    font-size: 30px;
  }

  span {
    background: rgb(255, 217, 0);
    color: white;
     
  }

  #result {
    text-align: center;

  }

  form {
    text-align: center;
  }

  .name {
     color: white; 
  } 

  input {
    padding: 4px 7px;
    border: solid 1px grey;
    border-radius: 5px;
  }

  input:focus {
    border: solid pink;
    box-shadow: 1px 1px 13px white;
  }

  input[type="number"] {
    width: 80px;
    margin-left: 3px;
  }
  button {
    border: solid #e0b1c7;
    border-radius: 5px;
    padding: 5px 6px;
    background: #e0b1c7;
    color: white;
    font-weight: bold;
  }
  button:hover{
    background: #9d4270;
    border: solid #9d4270;
  }
